@charset "utf-8";

/* 通用样式 */
html,
img {
	border: 0;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	color: #000;
	background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

a,
a:link {
	color: #000;
	text-decoration: none;
}

body {
	line-height: 1;
	font-family: 微软雅黑, "Open Sans", sans-serif;
}

img,
a {
	border: 0;
}

* {
	margin: 0;
	padding: 0;
}

/* 不同设备字体em基准 */
@media screen and (min-width: 320px) and (max-width: 360px) {
	body {
		font-size: 13.5px;
	}
}

@media screen and (min-width: 360px) and (max-width: 480px) {
	body {
		font-size: 15px;
	}
}

@media screen and (min-width: 480px) and (max-width: 700px) {
	body {
		font-size: 22.5px;
	}
}

@media screen and (min-width: 700px) {
	body {
		font-size: 28px;
	}
}

/* 不同设备字体em基准 */

* {
	box-sizing: border-box;
}

/* 简历start */
.resume {
	max-width: 900px;
	/* background: #f2f2f2; */
	margin: 0 auto
}

.wrap {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	position: relative;
}

/* 横幅 */
.banner img {
	width: 100%;
}

/* 标题 */
.title {
	line-height: 1.5em;
	background: #fff;
	margin-bottom: 1em;
	border-bottom: 1px solid #e6e6e6;
}

.title_text {
	padding: 0.5em 1em;
	display: flex;
	text-align: center;
}

.title h3 {
	font-size: 1.875rem;
	font-family: 华文行楷;
	font-weight: normal;
	flex: 1;
}

/* 照片 */
.picture {
	max-width: 685px;
	background-color: white;
	margin: 0 auto;
	text-align: center;
}

/* 文本内容 */
@media screen and (max-width: 838px) {
	.word_content {
		max-width: 685px;
		margin: 0 auto;
		background-color: white;
		font-family: 微软雅黑;
		font-size: 16px;
	}

	.word_content p {
		font-family: 宋体;
		font-size: 18px;
		line-height: 36px;
		text-indent: 2em;
		margin-bottom: 1em;
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	}

	.word_content a:hover {
		text-decoration: none;
	}
}

/* 页尾 */
.footer {
	max-width: 900px;
	padding: 1em 0;
	text-align: center;
	color: black;
	background: white;
	font-size: 14px;
	line-height: 20px;
}

/* 横线 */
.line {
	width: 100%;
	height: 1px;
	background: #f2f2f2;
	/* background: #00a7d9; */
	overflow: hidden;
}

/* 简历end */
