@charset "utf-8";

body{background:#f2f2f2;}
.footer_con{width:1100px; margin:0 auto; background:#fff;}
.footer{margin:0px auto 0px auto;padding:0px;border-top:8px solid #083b90;width:1028px;background:#FFF;overflow:hidden;}/* .footer{margin:0px auto 0px auto;padding:0px;border-top:8px solid #00558F;width:1028px;background:#FFF;overflow:hidden;} */
.footer_content{padding-top:22px; padding-left:20px; height:174px;}
.footer_content_rf .fl{padding-right:20px;}
.footer_content_rf p{font: normal 16px/24px "microsoft yahei";width: 82px;padding: 4px 8px 0px;}
.footer_content_rf p a:hover {color: #000;}
/*二维码*/
.QR-code:hover {color: #000;}
.QR-code{display: inline-block;width: 110px;text-align: center;}
.QR-code img,
.QR-code span{display: block;margin: 0 auto;font: normal 10px/14px "微软雅黑";color: #000;}
.footer_content_text{padding-top: 0px;}
/*.footer_content_text{padding-top:0px;margin-top: 10px;}*/
.footer_content_text span{font-size:12px;font-family:"微软雅黑","宋体"; padding:0 8px;}
.footer_content_text p{height: auto;height: 24px;padding: 0px;font-size:12px;font-family:"微软雅黑","宋体";margin-top:7px; height:22px; line-height:24px; background:#E0E0E0; margin-left:8px;}
#logo{margin-top: 25px;}
			
		

