@charset "utf-8";
/* 通用样式 */
body{color:#333333; font-size:16px; font-family:Microsoft YaHei,Simsun,SimHei,Arial; -webkit-text-size-adjust:none;}
body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, textarea, ul{ padding:0; margin:0;}
li, ol, ul{ list-style:none;}
img{ border:none; border:0; max-width:100%;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
a{text-decoration:none; color:#333333; noline:expression(this.onFocus=this.blur());}
a:focus {outline:none;-moz-outline:none;}
a:hover{color:#083B90;}
.clearfix{*zoom:1}.clearfix:before,.clearfix:after{display:table;line-height:0;content:""}.clearfix:after{clear:both}
.clear{clear:both;}
.white-box{background: #fff; padding:20px;}
.mb{margin-bottom:20px;}
.mt{margin-top:20px;}
/* 顶部横幅 */
.banner {clear: both;height: 196px;overflow: hidden;text-align: center;/* background: url(bg_header.png); */}
/* 导航栏 */
.navbar {clear: both;height: 60px;background-color: #083b90;/* background-color: #4395ff;#2d548f; *//* background-image: linear-gradient(-84deg,#1AB6FF 0,#1AB6FF 0,#028FFF 100%); */}
.navbar ul {overflow: hidden;position: relative;}
.navbar ul li {float: left;width: 12.5%;position: relative;text-align: center;}
.navbar ul li a {display: inline-block;font-size: 1.5em;line-height: 60px;color: #fff;}
.navbar ul li a:hover {color: #ffd800;}
.navbar ul li.on a {font-weight: bold;}
.column_navigation {width: 1200px;margin: 0 auto;clear: both;}
.column_navigation:after {clear: both;}
.column_navigation:after,.column_navigation:before {display: table;content: "";}
/* 网站地图 */
.content-background {background: #eef4f9;}
.content-container {width: 1200px;margin: 0 auto;clear: both;}
.content-container:after {clear: both;}
.content-container:after,.content-container:before {display: table;content: "";}
/* 面包屑(当前路径) */
.crumb {padding: 0 0 20px;font-size: 0.9375em;line-height: 24px;}
.crumb-White_box-line {border-bottom: 1px solid #f0f0f0;}
.crumb h2 {font-size: 1em;padding: 0;}
.crumb i,span {color: #083B90;}
/* 网站地图模块 */
.category-title {line-height: 44px;background-color: #f5f5f5;}
.category-title .current_name {font-size: 1.125em;}
.category-title .current_name:before {background-color: ##083B90;}
.category-title .current_name{position:relative; float:left; padding-left:20px; font-size:1.125em; color:#083B90;}
.category-title .current_name:before{position:absolute; top:50%; left:0; content:""; width:5px; height:22px; margin-top:-11px; background-color:#083B90;}
.category-title .current_name a{color:#083B90;}
.website_map .infol_ist {padding: 15px 10px 5px;}
.website_map .infol_ist li {float: left;width: 25%;padding-top: 7px;padding-bottom: 7px;overflow:hidden;}
.website_map .infol_ist li h4 {padding-right: 15px;font-size: 15px;}
.website_map .infol_ist li h4 a:before {width: 5px;height: 5px;background-color: #083B90;border-radius: 50%;}
.infol_ist li h4{position:relative; padding:0 60px 0 16px; font-weight:normal; font-size:1em; overflow:hidden;}
.infol_ist li h4 a{float:left; line-height:1.6em; max-width:100%; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
.infol_ist li h4 a.noLink:hover{color:inherit;}
.infol_ist li h4 a:before{position:absolute; top:-2px; left:2px; content:""; margin-top:.8em; width:3px; height:3px; background-color:#333; background-repeat:no-repeat;}
.infol_ist li h4 a:hover:before{background-color:#333;}
/* 底部 */
.footer {width: 100%;background: #083b90;float: none;}
.site-footer {padding: 2.5em 0;text-align: center;color: #fff;background: #083b90;font-size: 14px;line-height: 28px;}