@charset "utf-8";
/*  基本样式  */
blockquote,
body,
button,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
img,
pre,
form,
fieldset,
input,
textarea,
p,
th,
td {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

ul,
ol,
li {
	list-style: none;
}

body {
	margin: 0;
	padding: 0;
	min-width: 1200px;
	color: black;
	background-color: #f5f5f5;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

.clearfix {
	zoom: 1;
}

.clear {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}
/*  基本样式 end  */

a { 
	color:#333; 
	text-decoration:none; 
	cursor:pointer;
}
a:hover { 
	color:#2277ee;
}

.page {
	width: 100%;
}

/* 顶部logo图片 */
.logo-backgrond {
	background-color: #FFFFFF;
}

.logo {
	position: relative;
	padding-top: 180px;
	background-position: top center;
	background-repeat: no-repeat;
	background-image: url(../../home/Web_Component/images/banner-logo.png);
	box-shadow: 0 0 10px #d2d2d2;
}

.article_content {
	float: none;
	width: 1000px;
	margin: 25px auto;
	padding: 50px;
	border: 1px solid #c5c5c5;
	background-color: white;
	/* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75); */
}

/* 面包屑 */
.crumb {
	overflow: hidden;
	position: relative;
	height: 50px;
	width: 100%;
}

.information_type {
    float: left;
    min-width: 110px;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
    height: 38px;
    line-height: 38px;
    /* background: #197bf9; */
	background-image: linear-gradient(90deg,#095be3 0,#198afc 100%);
    color: #fff;
    font-size: 16px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-weight: 700;
    z-index: 3;
}

.information_type:before {
	content:""; 
	display:block; 
	position:absolute; 
	right:-5px; 
	height:38px; 
	top:0px; 
	width:5px; 
	background:url(information_type-background.png) no-repeat right top; 
}

.current_location {
    float: right;
    color: #888;
    line-height: 24px;
}

.crumb-background_line {
    display: block;
    position: absolute;
    height: 2px;
    background: #0055a5;
    overflow: hidden;
    width: 100%;
    right: 0px;
    left: 50px;
    bottom: 15px;
    _bottom: 15px;
    z-index: 2;
}

/* 归档 */
#place_on_file {
	position: relative;
	text-align: center;
}

#place_on_file p {
	font-size:20px;
	color:#C50200;
}

/* 文章标题 */
.title .img {
	padding: 10px 0 0 0;
	text-align: center;
} 

.title h1 {
	padding: 36px 10px 30px;
	line-height: 50px;
	/* font-weight: normal; */
	font-size: 35px;
	font-family: 宋体;
	text-align: center;
}

.h2 {
    background: #fbfbfb;
    border-top: 1px dashed #a4a4a4;
    border-bottom: 1px dashed #a4a4a4;
    padding: 15px 0;
    text-align: center;
    line-height: 25px;
    color: #666;
}

/* 标准模板 */
.article {
	padding: 20px 10px;
}

.article .img {
	text-align: center;
} 

.article p {
	padding: 5px 0;
	font-family: 微软雅黑;
	font-size: 16px;
	text-indent: 2em;
	line-height: 2em;
}

/* 领导之窗 */
.title-text {
	width: 100%;
	padding: 10px 0;
	float: left;
}
.title-text a {
	float: left;
	width: 110px;
	height: 38px;
    line-height: 38px;
	font-size: 16px;
	font-weight: bolder;
    text-align: center;
	color: white;
	background-image: linear-gradient(90deg,#095be3 0,#198afc 100%);
	/* border-radius: 10px; */				
}

/* 最新列表 */
.new_list {
	margin: 0 5px;
}

.new_list li {
	height: 28px;
	padding-left: 10px;
	margin: 5px 0;
	line-height: 28px;
	position: relative;
	border-bottom: 1px dashed #bfbfbf;
}
		
.new_list li:before {
	content: "";
	width: 3px;
	height: 3px;
	background: #888;
	left: 0;
	top: 13px;
	z-index: 1;
	position: absolute;
}

.new_list a {
	color: #4c4c4c;
	text-decoration:none;
}

.new_list li .date {
	float: right;
	font-size: 12px;
	color: #4c4c4c;
}

/* 底部 */
.footer {
	height: 180px;
	background-color: #FFFFFF;
	box-shadow: 0 0 10px #d2d2d2;
}
.site-footer {
	width: 1100px;
	margin: 0 auto;
	padding: 2.5em 0;
	text-align: center;
	color: black;
	font-size: 14px;
	line-height: 28px;
}