body {
	background: #FFF;
}

.hddj-club {
	width: 1100px;
}

/* 面包屑 S */
.crumb {
	margin: 20px 0;
	width: 100%;
	line-height: 30px;
	font-family: FZXBSJW;
	font-size: 20px !important;
	background: #fbfafa;
}

.crumb span {
	padding: 0 10px;
	border-left: 10px solid #095BE3;
	font-family: FZXBSJW;
	/* background: #FFF !important; */
}
/* 面包屑 E */

/* 队长之窗信息模块 S */
.information {
	width: 1100px;
	margin: 0 auto;
}

/* 队长之窗信息模块左边 */
.information > dt {
	width: 500px;
	border: 1px dashed #c9c9c9;
	padding: 1.5rem;
}

.information .dz {
	width: 100%;
	height: 200px;
}

.information .dz > dt {
	width: 150px;
	height: 200px;
	margin-right: 1.5rem;
	transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.information .dz > dt img {
	width: 100%;
	height: 100%;
}

.information .dz > dd {
	width: calc(100% - 11.5rem);
	height: 200px;
	overflow: hidden;
}

.information .dz .dz-title {
	height: 3.5rem;
	line-height: 3rem;
	font-size: 25px;
	font-family: FZXBSJW;
}

.information .dz .dz-title a {
	color: #095BE3;
}

.information .dz .dz-desc {
	font-size: 18px;
	text-indent: 2em;
	line-height: 2rem;
}

/* 队长之窗信息模块右边 */
.information > dd {
	width: 500px;
	height: 250px;
}

.information > dd .dzhdzt {
	width: 100%;
	height: 110px;
	margin-bottom: 25px;
	background-image: linear-gradient(to right, #e86034 0, #cd0004 15%, #cd0004 85%, #e86034 100%);
	text-align: center;
}

.information > dd .dzhdzt a {
	line-height: 55px;
	color: #FFF;
	font-size: 30px;
	font-family: FZXBSJW;
	text-align: center;
}

.information .Hyperlink_Keys {
	height: 110px;
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.information .Hyperlink_Keys > li {
	width: 30%;
	height: 110px;
	border: 1px solid #e5e5e5;
	border-radius: 10px;
	text-align: center;
}

.information .Hyperlink_Keys > li:nth-child(1) {
	background-image: linear-gradient(-270deg,#1785e6,#2fb9ff);
}

.information .Hyperlink_Keys > li:nth-child(2) {
	background-image: linear-gradient(90deg, #79beff 2%, #19dbb4);
}

.information .Hyperlink_Keys > li:nth-child(3) {
	background-image: linear-gradient(-90deg, #1fd156, #b2e65e 98%);
}

.information .Hyperlink_Keys > li a {
	line-height: 55px;
	font-size: 25px;
	font-family: 华文行楷,宋体,FZXBSJW;
	color: #FFF;
	text-align: center;
}

.information .Hyperlink_Keys > li a:hover {
	color: yellow;
}

.information .Hyperlink_Keys > li i {
	line-height: 55px;
	font-size: 25px;
	text-align: center;
}

/* 最新报道 S */
.ldhd .Latest_report {
	margin: 25px auto;
	box-shadow: 0 0 10px #ccc;
}

.ldhd .Latest_report > dd {
	padding: 1rem;
	border-left: 5px solid #095BE3;
	border-right: 5px solid #095BE3;
	/* color: #eae1cf; */
}

.ldhd .Latest_report > dd q {
	font-size: 1.125rem;
	position: relative;
	color: #1d2e43;
	display: block;
	text-indent: 2em;
	padding-bottom: 1em;
	padding: 0.75em 0;
	line-height: 2;
}

/* .ldhd .Latest_report>dd q::before {
	width: 1.5rem;
	height: 1.125rem;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: url(bg-dots.png) 0 0 no-repeat;
	filter: invert(99%) sepia(15%) saturate(512%) hue-rotate(292deg) brightness(98%) contrast(82%);
}

.ldhd .Latest_report>dd q::after {
	width: 1.5rem;
	height: 1.125rem;
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	background: url(bg-dots.png) -24px 0 no-repeat;
	filter: invert(99%) sepia(15%) saturate(512%) hue-rotate(292deg) brightness(98%) contrast(82%);
} */
/* 最新报道 E */

/* 重要活动和讲话 S */
/* 队长之窗特殊样式修改 */
.latest_report_live {
    margin: 25px auto;
}

.latest_report_live_head-content li a {
	max-width: 92%;
}
/* 重要活动和讲话 E */

/* 底部 S */
.footer {
	min-width: 1000px;
	height: 180px;
	background-color: #FFFFFF;
	box-shadow: 0 0 10px #d2d2d2;
	border-top: 0;
}

.site-footer {
	padding: 2.5em 0;
	text-align: center;
	color: black;
	font-size: 14px;
	line-height: 28px;
}
/* 底部 E */