@charset "utf-8";

/*  基本样式  */
blockquote,
body,
button,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
img,
pre,
form,
fieldset,
input,
textarea,
p,
th,
td {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

ul,
ol,
li {
	list-style: none;
}

@font-face {
	font-family: "FZXBSJW";
	src: url("FZXBSJW3-3.woff") format("woff");
	/* url("font/FZXBSJW3-2.ttf") format("truetype"),
						url("font/FZXBSJW.svg#myFirstFont") format("svg"); */
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "FZXBSJW";
	src: url("FZXBSJW3-3.woff");
	/* IE9 */
	font-style: normal;
	font-weight: normal;
}

/* sad-theme */
/* html {
	-webkit-filter: grayscale(100%);
	 -moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);		    
	filter: grayscale(100%);
    -webkit-filter: grey;
    filter: gray;
	filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);	
} */

body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
	color: black;
	background-color: #f5f5f5;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

.clearfix {
	zoom: 1;
}

.clear {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

/*  基本样式 end  */

a {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #CAB484;
}

.page {
	width: 100%;
}

.logo {
	min-width: 1000px;
	height: 180px;
	background: #ffffff url(../../images/public/banner-logo.png) no-repeat center center;
	/* background-position: center center;
	background-repeat: no-repeat; */
	box-shadow: 0 0 10px #d2d2d2;
}

.article_content {
	width: 900px;
	margin: 25px auto;
	padding: 50px;
	border: 1px solid #c5c5c5;
	background-color: #FFFFFF;
	border-radius: 15px;
	/* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75); */
}

/* 政务数据集成页面专用css */
.integration .article_content {
    padding: 20px 50px;
}

/* 面包屑 */
.crumb {
	overflow: hidden;
	position: relative;
	height: 50px;
	width: 100%;
}

.information_type {
	float: left;
	min-width: 110px;
	padding: 0 20px;
	box-sizing: border-box;
	text-align: center;
	height: 38px;
	line-height: 38px;
	/* background: #197bf9; */
	background-image: linear-gradient(90deg, #095be3 0, #198afc 100%);
	color: #fff;
	font-size: 16px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	font-weight: 700;
	z-index: 3;
}

.information_type:before {
	content: "";
	display: block;
	position: absolute;
	right: -5px;
	height: 38px;
	top: 0px;
	width: 5px;
	background: url(../../images/public/information_type-background.png) no-repeat right top;
}

.current_location {
	float: right;
	color: #888;
	line-height: 24px;
}

.crumb-background_line {
	display: block;
	position: absolute;
	height: 2px;
	background: #0055a5;
	overflow: hidden;
	width: 100%;
	right: 0px;
	left: 50px;
	bottom: 15px;
	z-index: 2;
}

/* 归档 */
.ymygd {
	padding: 10px 0;
	background: url(../../images/public/ymygd_background.png);
	text-align: center;
}

.ymygd p {
	font-size: 20px;
	color: #C50200;
}

/* 文章标题 */
.title .img {
	padding: 10px 0 0 0;
	text-align: center;
}

.title h1 {
	padding: 30px 10px;
	line-height: 50px;
	/* font-weight: normal; */
	font-size: 35px;
	font-family: 宋体,FZXBSJW;
	text-align: center;
}

.h2 {
	background: #fbfbfb;
	border-top: 1px dashed #a4a4a4;
	border-bottom: 1px dashed #a4a4a4;
	padding: 15px 0;
	text-align: center;
	line-height: 25px;
	color: #666;
}

/* 标准模板 */
.article {
	padding: 20px 10px;
}

.article p,
.resume p {
	padding: 5px 0;
	font-family: 微软雅黑;
	font-size: 16px;
	text-indent: 2em;
	line-height: 2em;
}

.article .img {
	text-align: center;
	text-indent: 0em;
}

.article img {
	border: 1px solid #a4a4a4;
}

.article .zdldrwzlk {
	width: 200px;
	border: none;
}

.article .rsgc {
	width: 690px;
	border: none;
}

/* 新版小标题 */
/* .subtitle {
	margin: 20px 0;
	width: 100%;
	height: 13px;
	font-size: 20px !important;
	border-bottom: 1px solid #e6e6e6;
} */

.subtitle {
	margin: 20px 0;
	width: 100%;
	line-height: 30px;
	font-family: FZXBSJW;
	font-size: 20px !important;
	background: #fbfafa;
}

.subtitle span {
	padding: 0 10px;
	border-left: 10px solid #095BE3;
	font-family: FZXBSJW;
	/* background: #FFF !important; */
}

/* 旧版小标题 */
/* .subtitle {
	position: relative;
	float: left;
	width: 100%;
	height: 26px;
	margin: 10px 0;
	border-left: 10px solid #095BE3;
}

.subtitle span {
	padding: 0 10px;
	font-size: 20px;
	font-weight: 400;
	font-family: 微软雅黑;
	background:#FFF!important;	
}

.subtitle span::after {
	content: "";
	position: absolute;
	display: inline-block;
	height: 1px;
	width: 870px;
	top: 50%;
	left: 100px;
	background-color: #e6e6e6;
} */

/* 领导之窗 */
.ldzc {
	padding-top: 50px;
}

.dz {
	text-align: center;
	font-size: 16px;
}

.dz img {
	width: 170px;
	height: 210px;
	vertical-align: middle;
}

.dz a p {
	color: #444;
	margin-bottom: 10px;
}

.dz p {
	margin-top: 5px !important;
}

.fdz,
.msz {
	margin: 25px -5px;
	padding: 0;
	overflow: hidden;
}

.fdz li,
.msz li {
	text-align: center;
	list-style-type: none;
	margin-bottom: 10px;
}

.fdz-people,
.msz-people {
	float: left;
	width: 25% !important;
}

.fdz li img,
.msz li img {
	height: 170px;
	width: 140px;
	vertical-align: middle;
}

.fdz li p,
.msz li p {
	margin-bottom: 0px;
	margin-top: 10px;
	color: #444;
}

.msz-people {
	width: 20% !important;
}

p.msz a,
p.msz {
	font-size: 16px;
	color: #444;
	letter-spacing: 1.5px;
}

p.msz span {
	font-weight: bold;
	float: left;
}

/* 个人简历 */
/* .name-list {
	display: inline-block;
}

.name-list li {
	border-bottom: 1px solid #f0f0f0;
	width: 163px;
	line-height: 69px;
	font-size: 18px;
	padding: 0 20px 0 25px;
	color: #4b619a;
	cursor: pointer;
}

.name-list li font {
	display: inline-block;
	width: 150px;
}

.name-list li span {
	display: inline-block;
	width: 9px;
	float: none;
}

.name-list li.on {
	background: linear-gradient(90deg, #095be3 0, #198afc 100%);
	border-radius: 5px;
	color: #FFFFFF;
}

.name-list li.on span {
	color: #FFFFFF;
	height: 11px;
	background: url(../../images/public/icon-ldzc-arrow_right.png) left no-repeat;
} */

/* .resume {
	width: 758px;
	border: #ebebeb 1px solid;
} */

.resume {
	margin: 10px 0;
	padding: 25px;
	border: #ebebeb 5px solid;
}

.name-post {
	text-align: center;
	font-family: FZXBSJW;
}

.name {
	color: #095BE3;
	font-size: 30px;
	font-weight: bold;
}

.name-post em {
	width: 165px;
	height: 1px;
	margin: 5px 0;
	display: inline-block;
	background-color: #198afc;
}

.post {
	font-weight: bold;
	font-size: 16px;
}

.resume_box {
	padding-top: 35px;
	/* height: 173px; */
}

/* .picture {
	width: 135px;
	height: 173px;

}

.picture img {
	width: 100%;
	height: 100%;

} */

.picture {
	margin-left: 15px;
}

.picture img {
	width: 150px;
	height: 200px;
	border: #ebebeb 1px solid;
}

/* .resume_box .text {
	width: 600px;
	text-indent: 2em;
	font-size: 16px;
	line-height: 35px;
	margin-top: 5px;
} */

.resume_box .text {
	width: 75%;
	margin-right: 15px;
	text-indent: 2em;
	font-size: 16px;
	line-height: 35px;
}

.resume_box .resume_subtitle {
	width: 75%;
	height: 12px;
	margin: 10px 15px 10px 0;
	font-size: 18px;
	color: #095be3;
	border-bottom: 1px solid #e0e0e0;
}

.resume_box .resume_subtitle span {
    width: 90px;
    line-height: 24px;
    border-left: 6px solid #095be3;
	background: #fff;
	display: block;
	text-align: center;
}

.resume_link-button span {
	text-align: center;
	display: inline-block;
	width: 97px;
	height: 34px;
	line-height: 34px;
	background: linear-gradient(90deg, #095be3 0, #198afc 100%);
	background-size: 100% 100%;
	color: #FFFFFF;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	margin-top: -6px;
}

.box2 {
	margin-top: 35px;
	height: 297px;
	background-color: #f6f6f6;
}

.swiper-container {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	direction: ltr;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	/* Fix of Webkit flickering */
	z-index: 1;
}

.swi1 {
	width: 758px;
	height: 297px;
	position: relative;
}

.swi1 .swiper-slide {
	width: 758px;
	height: 297px;
	position: relative;
}

.swi1 img {
	width: 446px;
}

.swiper-wrapper {
	position: relative;
	width: 100%;
	-webkit-transition-property: -webkit-transform, left, top;
	-webkit-transition-duration: 0s;
	-webkit-transform: translate3d(0px, 0, 0);
	-webkit-transition-timing-function: ease;
	-moz-transition-property: -moz-transform, left, top;
	-moz-transition-duration: 0s;
	-moz-transform: translate3d(0px, 0, 0);
	-moz-transition-timing-function: ease;
	-o-transition-property: -o-transform, left, top;
	-o-transition-duration: 0s;
	-o-transform: translate3d(0px, 0, 0);
	-o-transition-timing-function: ease;
	-o-transform: translate(0px, 0px);
	-ms-transition-property: -ms-transform, left, top;
	-ms-transition-duration: 0s;
	-ms-transform: translate3d(0px, 0, 0);
	-ms-transition-timing-function: ease;
	transition-property: transform, left, top;
	transition-duration: 0s;
	transform: translate3d(0px, 0, 0);
	transition-timing-function: ease;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.swiper-slide {
	float: left;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.box2 .time {
	position: absolute;
	left: 476px;
	top: 30px;
}

.box2 .day {
	display: block;
	font-size: 38px;
	color: #a0b9fe;
}

.box2 .year {
	font-size: 12px;
	color: #a0b9fe;
}

.box2 .text {
	position: absolute;
	text-align: left;
	font-size: 16px;
	line-height: 30px;
	right: 25px;
	bottom: 60px;
	width: 255px;
}

.pagination {
	position: absolute;
	z-index: 20;
	bottom: 25px;
	right: 130px;
	text-align: center;
}

.swiper-pagination-switch {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: #d4d4d4;
	margin: 0 5px;
	opacity: 0.8;
	cursor: pointer;
}

.swiper-active-switch {
	background: #2d5de2;
}

.box3 {
	margin-top: 35px;
	/* font-size: 16px; */
}

.box3 .list ul li span {
	float: right;
	color: #8eafd7;
	font-size: 12px;
}

.box3 .title a {
	color: #095BE3;
}

.box3 ul li {
	padding: 10px 0;
}

.box3 ul li a {
	font-size: 16px;
	/* display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden; */
}

.box3 ul li a:hover {
	color: #095BE3;
}

/* 机构设置 */
.zdjg .title {
    position: relative;
    height: 50px;
    background: url(../../images/public/zdjg_title.png) no-repeat;
    background-size: 100% 100%;
    margin: 10px auto;
}

.zdjg .title span {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 50px;
}

.zdjg .title a {
    color: #FFFFFF;
}

.zdjg .zcbm {
    border: 1px solid #e5e5e5;
    padding: 20px 0px;
}

.zdjg .zcbm .bmmc {
    width: 96%;
    margin: 0 auto;
    font-size: 0;
}

.zdjg .zcbm .bmmc a {
    display: inline-block;
    width: 25%;
    font-size: 14px;
    line-height: 40px;
    border-bottom: 1px dotted #e6e6e6;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.zdjg .zcbm .bmmc span {
    width: 8px;
    height: 8px;
    background: #095be3;
    display: inline-block;
    margin: 0 5px;
}

.zdjg .zcbm .bmxx {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
}

.zdjg .zcbm .bmxx span {
    font-size: 14px;
    line-height: 35px;
    text-indent: 28px;
}

/* 最新列表 */
.new_list {
	margin: 0 5px;
}

.new_list li {
	height: 28px;
	padding-left: 10px;
	margin: 5px 0;
	line-height: 28px;
	position: relative;
	border-bottom: 1px dashed #bfbfbf;
}

.new_list li:before {
	content: "";
	width: 3px;
	height: 3px;
	background: #888;
	left: 0;
	top: 13px;
	z-index: 1;
	position: absolute;
}

.new_list a {
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 92%;
	color: #4c4c4c;
}

.new_list li .date {
	float: right;
	font-size: 12px;
	color: #4c4c4c;
}

/* 底部 */
.footer {
	min-width: 1000px;
	height: 180px;
	background-color: #FFFFFF;
	box-shadow: 0 0 10px #d2d2d2;
}

.site-footer {
	padding: 2.5em 0;
	text-align: center;
	color: black;
	font-size: 14px;
	line-height: 28px;
}
